/*default styles*/
body{
    margin:0;
    padding:0;
    font-family:"gill-sans-nova", sans-serif;
    background-color:black;
}
/*layout*/
.container{
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width:1200px;
    margin:0 auto;
    padding:20px;
}
p{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    text-align: center;
}
main{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:40px;
    align-items: start;
}
section{
    margin-bottom: 20px;
}
/*headings*/
h1{
    color:rgb(255, 255, 255);
    font-size: 70px;
    font-family: "gill-sans-nova-shadowed", sans-serif;
    font-weight: 500;
    font-style: normal;
    animation: pop-in 1s ease-in-out forwards;
}
h2{
    color: #ffffff;
    font-size: 30px;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top:20px;
    transition: transform 0.3s ease-in-out;
}
h3{
    color: #ffffff;
    font-size: 25px;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2:hover{
    transform: scale(1.05);
    color: #f0f0f0;

}
/*animations*/
@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes pop-in{
    from{
        transform: scale(1);
        opacity: 1;
    }
}
.fade-in-image{
    width:100%;
    height:auto;
    opacity:0;
    animation:fadeIn 2s ease-in-out forwards;
}
/*links*/
a{
    color: white;
    text-decoration:none;
    font-weight:bold;
    font-size:20px;
    transition: 0.3s ease-in-out;
}
a:hover{
    color:#9c9fff;
}
/*paragraphs*/
p{
    font-size:20px;
    line-height: 1.6;
    animation:fadeIn 1.2s ease-in-out forwards;
    opacity: 0;
}
/*footer*/
footer{
    text-align: center;
    padding: 20px;
    background-color: #222;
    margin-top: 40px;
    border-top: 1px solid white;
}
/*image section*/
.img-section{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.image-section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    grid-template-rows: auto 1fr auto;
    padding: 15px;
}

.image-section img:hover {
    transform: scale(1.05);
}
hr{
    color:#ffffff;
}

