body {
    margin: 0;
    padding: 0;
    font-family:"komu-a", sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
    color: #aaa;
    margin-top: 10px;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    flex-grow: 1;
}

.media-item {
    position: relative;
    overflow: hidden;
}

.media-item img, .media-item video {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.media-item:hover img, .media-item:hover video {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #888;
    font-size: 1rem;
}
a{
    color:white;
    font-size: 20px;
    font-family:"komu-a", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .media-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .media-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .media-item img, .media-item video {
        height: 300px;
        object-fit: cover;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .media-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .media-item {
        width: 90%;
        margin-bottom: 20px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.8rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}
