p{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: content-box;
    border-width: 0px;
    padding:1000px;
    width: 1000px;
}
body1{
    background-image: url(indie1.jpg);
    position: relative;
    position: right;
}
h1{
    color:rgb(255, 255, 255);
    font-size: 70px;
    font-family: "gill-sans-nova-shadowed", sans-serif;
    font-weight: 500;
    font-style: normal;
    animation-duration: 2400ms;
    transition-delay: 0s;
}
body{
    border-left-width: 4px;
    border-color: #ffffff;
    background-color: black;
}
h2{
    color: #ffffff;
    font-size: 30px;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h3{
    color: #ffffff;
    font-size: 25px;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
}
a href{
    color:rgb(255, 255, 255);
}
p1{
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: italic;
    color:rgb(255, 255, 255);
}
a href{
    color:white;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
}
div {
    /* animation properties */
    animation-name: my-animation;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: linear;
    
    /* other properties */
    width: 100px;
    height: 1px;
    border-radius: 10px;
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
  @keyframes my-animation {
    from {
      background-color: #ffffff;
      width: 300px;
      top: 10px;
    }
    to {
      background-color: #ffffff;
      width: 50px;
      top: 100px;
  }
}
}
div1{
    width: 100px;
    height: 100px;
    background-color: white;
    animation: squareToCircle 2s 1s infinite alternate;
    @keyframes squareToCircle {
      0% {
        border-radius: 0 0 0 0;
        background: white;
        transform: rotate(0deg);
      }
      25% {
        border-radius: 50% 0 0 0;
        background: white;
        transform: rotate(45deg);
      }
      50% {
        border-radius: 50% 50% 0 0;
        background: white;
        transform: rotate(90deg);
      }
      75% {
        border-radius: 50% 50% 50% 0;
        background: white;
        transform: rotate(135deg);
      }
      100% {
        border-radius: 50% 50% 50% 50%;
        background: white;
        transform: rotate(180deg);
      }
    }
}