p{
    color:red;
    font-size: 20px;
}
blue paragraph{
    color:blue;
    font-size: 40px;
    text-transform: uppercase;
}
smallest{
    font-size: 18px;
}
.image-1{
    border: radius 100%;
    width: 50px;
}
h1{
    color:black;
    font-size: 70px;
    animation-delay: 0s;
}