p{
    color:rgb(28, 28, 28);
    font-size: 20px;
}
blue paragraph{
    color:blue;
    font-size: 40px;
    text-transform: uppercase;
}
smallest{
    font-size: 18px;
}
h1{
    color:rgb(17, 17, 17);
    font-size: 70px;
    animation-delay: 0s;
}
body{
    background-image:url(background.jpg) ;
}
